# dependencies
node_modules/

# build output
.next/
out/
build/
frontend/mosaic-logistics-auditor-copy-3/

# misc
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
!.env.example

# vercel
.vercel/

# typescript
*.tsbuildinfo
next-env.d.ts
